*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content:center;
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 350px;
    max-width: 80%;
    border: 2px solid black;
    background:linear-gradient(to top,#CCB8EC,#A79BC4);
    height: 480px;
    max-height: fit-content;
}
.head{
    width: 100%;
    padding: 0.7rem;
    text-align: center;
    background-color: darkslategray;
    color: azure;
}
.techform{
    padding: 0.7rem 2rem;
}
.field{
    margin-bottom: 5px;
}
.field label{
    display: inline-flex;
    margin-bottom: 5px;
    color:#98043a;
}
.field input{
    display: block;
    width: 80%;
    max-width: 80%;
    padding:0.7rem 0.5rem;
    font-size: larger;
    border-radius: 5px;
    outline: none;
    border: 2px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    display: block;
    width: 50%;
    padding: 0.7rem;
    margin-top: 10px;
    background-color: darkslategray;
    color: azure;
    margin-left: 35px;
    font-variant: small-caps;
    font-size: larger;
}
input:user-valid{
    border-color: rgb(3, 130, 3);
}
input:user-invalid{
    border-color: red;
}
input:focus{
    border-color: orange;
}